node_modules/
var/
*.sqlite*
.DS_Store
UnityClient/[Ll]ibrary/
UnityClient/[Tt]emp/
UnityClient/[Oo]bj/
UnityClient/[Ll]ogs/
UnityClient/[Uu]ser[Ss]ettings/
UnityClient/[Bb]uilds/
UnityClient/[Mm]emoryCaptures/
UnityClient/.vs/
UnityClient/build.log
UnityClient/ProjectSettings/ProjectAuditorSettings [0-9]*.asset
src/* 2.js
